body {
    font-family: InterTight, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2b2b32;
    background-image: url(assets/img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    background: #333;
    color: #b49fb3;
    padding: 1em 0;
}

footer {
    background: #333;
    color: white;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #16161b;
}

nav {
    margin: 1em 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #F2CB9B;
}

nav a:hover {
    color: #7c6142;  
}

main {
    padding: 20px;
}

.explications {
    font-family: InterTight;
    font-size: 1.2em;
    line-height: 130%;
    text-align: center;
    position: relative;
    margin-inline: 10px;
    margin-top: 8%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    color: #ffebd2;
}

.accueil {
    margin: 10px;
    top: 25%;
    left: 30%;
    position: absolute;
}

.linktr {
    margin: 10px;
    top: 25%;
    right: 30%;
    position: absolute;
}


.bandeau {
    background-size: cover;
    background-position: center;
    height: 150px;
    margin-top: 5em;
    overflow: hidden;
}


.custom-font1 {
    font-family: 'InterTight', regular;
    font-size: 35pt;
    color: #F2CB9B;
    display: inline-block; /* Nécessaire pour que le texte puisse avoir une bordure en bas */
    border-bottom: 12px solid #F2CB9B;
    padding-bottom: 10px;
    border-top: 12px solid #F2CB9B;
    padding-top: 10px;
}

.custom-font2 {
    font-family: 'InterTight', regular;
    font-size: 22pt;
    color: #F2CB9B;
    margin-inline: 10%;
}

.custom-font3 {
    font-family: 'InterTight';
    font-size: 1em;
}

.titre {
    font-size: 1.6em;
    color: #F2CB9B;
}

@font-face {
    font-family: 'InterTight';
    src: url('assets/fonts/InterTight.ttf') format('truetype');
}

@font-face {
    font-family: 'Grodna';
    src: url('assets/fonts/Grodna.ttf') format('truetype');
}

@font-face {
    font-family: 'Walter';
    src: url('assets/fonts/WalterTurncoat-Regular.ttf') format('truetype');
}

