body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2d2d2d;
}

.fond {
    background: url(../assets/img/porte_fond.png);
    background: cover;
    position: absolute;
    overflow: hidden;
}

.porte-container {
    position: relative;
    width: 100%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: cover;
}

.porte {
    width: 80%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.porte:hover {
    transform: scale(1);
    opacity: 0.8;
}

.porte1:hover {
    content: url('../assets/img/porte_O.png');
}

.porte2:hover {
    content: url('../assets/img/porte_O.png');
}

.porte3:hover {
    content: url('../assets/img/porte_O.png');
}
